# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# synpress
.cache-synpress/
packages/nextjs/e2e/test-report/
packages/nextjs/e2e/test-results/
packages/nextjs/e2e/node_modules/

# bmad
_bmad/
